.conatiner{
    text-align: center;
    margin-top: 20px;
}
table{
    margin: auto;
}
body {
   
    background-image: url('cal.jpg');
    background-repeat: no-repeat;
    background-size: 1550px 800px;
  
}
input{
    font-size: 33px;
   border: 4px solid;
   border-radius: 8px;
}
button{
    font-size: 50px;
    background-color: rgb(6, 235, 10);
    width: 100px;
    height: 75px;
    border-radius: 20px;
}
.calculator{
    border: 4px solid rgb(19, 18, 18);
    border-radius: 8px ;
    display: inline-block;
    background-color: rgb(16, 224, 57);
    padding: 9px;

}
h1{

    color: rgb(12, 13, 13);
}